/lcs_synthetic_20000 (1).csv
/.ipynb_checkpoints
/dde.ipynb
/poetry.lock
/data_engin_project1/pyproject.toml
/requirements.txt
/notebooks/.ipynb_checkpoints/data_engineering_notebook-checkpoint.ipynb
/lcs_synthetic_20000 (1).csv
/data_engin_project1
